@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #124166;
    --secondary-color: #000000;
    --accent1-color: #FDAE25;
    --accent2-color: #ffffff;

    --heading-font: "GFS Neohellenic", sans-serif;
    --paragraph-font: "Inter", sans-serif;
    --nav-background-color: var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--accent1-color);
}
header, main, footer {
    max-width: 700px;
    margin: 1rem auto;
}
header{
	display: grid;
	grid-template-columns: 200px 1fr 100px;
	border-bottom: 1px solid #ccc;
    background-color: var(--accent1-color);
}
header img {
	margin: 0 10px 0 100px;
	width: 80px;
	height: auto;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p, figcaption, label, input, button, textarea {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    font-size: 0.8rem;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    background-color: #b9c7c7fa;
    top: 10px;
    left: 220px;
}
.hero article{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
}
.hero article img{
    width: 200px;
    height: 150px;
    float: right;
}
section {
    margin: 1rem auto;
    padding: 20px;
    border: 1px solid var(--accent2-color);
    background-color: rgba(253,174,37, 0.75);
}
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    }
.history h2{
    grid-column: 1/4;
    text-align: center;
}
.history img{
    width: 100%;
    float: left;
}
.history p{
    text-align: justify;
    
}
.adventure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    gap: 10px;
    border: 0;
}
.adventure h2{
    grid-column: 1/6;
    justify-self: center;
}
.adventure img{
    grid-column: 1;
    width: 100%;
    height: 60%;
}
figure figcaption{
    font-size: 0.8rem;
}
a {
    text-decoration: none;
}
footer{
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    background-color: var(--accent1-color);
    align-items: center;
}
footer p{
    grid-column: 2 / 3;
    justify-self: center;
}
.sociallinks a img{
    justify-self: right;
    width: 30px;
}
/* Contact Us selectors */
.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    column-gap: 50px;
}
.employee h2 {
    grid-column: 1/4;
    justify-self: center;    
}
.employee figure img {
    grid-column: 2;
    width: 100%;
    height: 80%;   
}
.contact {
    display: grid;
    grid-template-columns: 44% 56%;
}
.contact h2{
    text-align: center;
}
form {
    width: 370px;
    height: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(238, 238, 238, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: grid;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
button {
    margin: 0.5rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: darkgreen;
}
label {
    padding: 0.9rem 0 0 0;
}
fieldset {
    border: none;
}
.contactinfo {
    display: grid;
    grid-template-rows: 80px 60px 30px 30px 1fr;
}
iframe {
    width: 260px;
    height: 170px;
}
h1 {
    text-align: center;
    align-self: center;
    font-size: 2rem;
}
.content_img {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow: hidden;
    font-size: 0.85rem;
}
.image {
    grid-column: 1fr;
    width: 300px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}
.image img{
    width: 100%;
    height: 50%;
}
.image figcaption{
    font-size: 0.8rem;
    opacity: 0;
    height: 20%;
    text-align: justify;
    padding: 10px;
}
.itinerary nav a{
    color: #fff;
}
.image h2, .tabitinerary h2{
    text-align: center;
}
.image:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
.image:hover figcaption{
    height: 40%;
    opacity: 1;
}
.image:hover img{
    height: 30%;
    transform: scale(1.1);
    opacity: 0.7;
}
.itinerary{
    border-radius: 0;
    padding: 0.35rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.home {
    position: relative;
}
.home img {
    display: block;
    width: 100%;
    height: auto;
}
.home nav {
    position: absolute;
    background-color: rgb(238, 238, 238, 0.6);
    top: 140px;
    left: 240px;
    font-size: 1.8rem;
}
.home h1 {
    position: absolute;
    background-color: rgb(238, 238, 238, 0.3);
    top: 10px;
    left: 100px;
}
.info {
    display: grid;
    width: 700px;
    height: 340px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 5px 0;
    background-color: rgba(253,174,37, 0.75)
}
.grid-item {
    width: 175px;
    height: 170px;
}
.info img{
    width: 175px;
    height: 100%;
}
.verticalimage{
    grid-row-start: 1;
    grid-row-end: 3;
}
.info form{
    width: 350px;
    grid-column: 3/5;
}
.info p{
    text-align: center;
}
.info form input{
    padding: 2px;
    font-size: 0.8rem;
}
.grid-item button{
    padding: 5px;
    font-size: 1;
}