@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&family=Inter&display=swap');

*{
    max-width: 700px;
}

:root {
    --primary-color: #124166;
    --secondary-color: #088283;
    --accent1-color: #FDAE25;
    --accent2-color: #000;

    --heading-font: "GFS Neohellenic", sans-serif;
    --paragraph-font: "Inter", sans-serif;
    --nav-background-color: var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--accent1-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}
.hero {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as needed */
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fits within the container */
}

.hero-content {
    position: absolute;
    top: 0;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* color: white; */
}

.hero-content h1 {
    font-size: 2.5rem;
    background-color: #088283;
    text-align: center;
}

.hero-content article {
    max-width: 70%;
    margin: 0 auto;
}
.hero-content img{
    display: block;
    float: right;
    width: 200;
}
a {
    text-decoration: none;
}