@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Merriweather", Georgia, serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
button {
    margin: 0.5rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: darkgreen;
}
